# === IDE Specific Logs ===
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# === Angular Client (UI Project) ===
UI/node_modules/
UI/dist/
UI/.angular/
UI/.tmp/

# === Spring Boot Server (Server Project) ===
Server/wixblog/target/
Server/wixblog/*.jar
Server/wixblog/*.war
Server/wixblog/.mvn/wrapper/
